@import url('https://fonts.googleapis.com/css?family=Amiri&display=swap');
body {
  background-color: aquamarine;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Amiri', serif;
}

.todo-box {
  width: 400px;
  height: 500px;
  background-color: white;
  padding: 1em;
  display: flex;
  flex-direction: column;
  background-color: lightyellow;
}

.title {
  width: 27em;
  box-sizing: border-box;
  text-align: center;
  margin-top: -15px;
  margin-left: -15px;
  background-color: lightgreen;
}

.title h1 {
  color: gray;
  text-transform: uppercase;
}

.uncompleted-tasks {
  box-sizing: border-box;
  text-transform: capitalize;
}
.completed-tasks {
  text-transform: capitalize;
}

li{
  font-size: 1.2em;
}

.completed-item{
  text-decoration: line-through;
}
