@import url('https://fonts.googleapis.com/css?family=Amiri&display=swap');
body {
  background-color: aquamarine;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Amiri', serif;
}

.todo-box {
  width: 600px;
  height: 700px;
  background-color: white;
  padding: 1em;
  display: flex;
  flex-direction: column;
  background-color: lightyellow;
  font-size: 1.4em;
}

.title {
  width: 107.5%;
  box-sizing: border-box;
  text-align: center;
  margin-top: -22px;
  margin-left: -23px;
  background-color: lightgreen;
}

.title h1 {
  color: gray;
  text-transform: uppercase;
}

.uncompleted-tasks {
  box-sizing: border-box;
  text-transform: capitalize;
}

.completed-tasks{
  text-transform: capitalize;
}

.item{
  display: flex;
  justify-content: space-between;
}

.completed-item span{
  text-decoration: line-through;
}

.fa-circle{
  font-size: 0.6em;
}

.actions .fa{
  cursor: pointer;
}

.actions .fa:hover{
  font-size: 1.1em;
}

ul{
  padding-inline-start: 0px;
}